<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        footer {
            background-color: #004d00; 
            color: white; 
            padding: 10px;
            text-align: center; 
            left: 0;
            bottom: 0;
            width: 100%; 
        }
    </style>
</head>
<body>
    <footer>
        <span>TODOS LOS DERECHOS PARA @Juan Carlos Ubaldo Sanchez</span>
    </footer>
</body>
</html>